<ul class='inventory-item'>
  <li class='item-content'>
    {{#ifEquals data.type 'Special'}}
      <a
        class='item-roll-special action range-button'
        data-type='roll-special'
        title={{localize 'morpg.sheet.roll'}}
      >
        <i class='fas fa-dice-six'></i>
      </a>
    {{else}}
      {{#if data.data.triggerRange}}
        <button
          class='range-button'
          type='button'
        >{{data.data.triggerRange.min}}-{{data.data.triggerRange.max}}:</button>
      {{else}}
        <button
          class='range-button'
          type='button'
        >{{data.data.trigger}}:</button>
      {{/if}}
    {{/ifEquals}}
    <p class='name' id='{{data._id}}'>{{name}}</p>
    <div class='delete-edit-actions'>
      <a
        class='item-edit action'
        data-type='edit'
        title={{localize 'morpg.sheet.edit'}}
      >
        <i class='fas fa-edit'></i>
      </a>
      <a class='item-delete action' title={{localize 'morpg.sheet.delete'}}>
        <i class='fas fa-trash'></i>
      </a>
    </div>
  </li>
  <li class='toggle-editor'>
    <div>{{{data.data.description}}}</div>
  </li>
</ul>