<section>
  <div class='stats'>
    <table>
      <tr>
        <th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.physical}}</th>
        <td><input
            class='input roll-value'
            name='system.physical'
            title='{{localize "morpg.baseStats.physical"}}'
            type='number'
            value='{{actor.system.physical}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.defense}}</th>
        <td><input
            class='input roll-value'
            name='system.defense'
            title={{localize 'morpg.baseStats.defense'}}
            type='number'
            value='{{actor.system.defense}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.health}}</th>
        <td class='health'><input
            class='health-value roll-value'
            name='system.health.value'
            title='{{localize "morpg.baseStats.healthCurrent"}}'
            type='number'
            value='{{actor.system.health.value}}'
            data-dtype='Number'
          />/<input
            class='health-max roll-value'
            name='system.health.max'
            title='{{localize "morpg.baseStats.healthMax"}}'
            type='number'
            value='{{actor.system.health.max}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.magic}}</th>
        <td><input
            class='input roll-value'
            name='system.magic'
            title='{{localize "morpg.baseStats.magic"}}'
            type='number'
            value='{{actor.system.magic}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.resolve}}</th>
        <td><input
            class='input roll-value'
            name='system.resolve'
            title='{{localize "morpg.baseStats.resolve"}}'
            type='number'
            value='{{actor.system.resolve}}'
            data-dtype='Number'
          /></td>
      </tr>
    </table>
  </div>
</section>