<section>
  <div class='stats'>
    <table>
      <tr>
        <th>{{localize config.stats.physical}}</th>
        <td><input
            class='input'
            name='data.physical.value'
            type='Number'
            value='{{data.physical.value}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th>{{localize config.stats.defense}}</th>
        <td><input
            class='input'
            name='data.defense'
            type='Number'
            value='{{data.defense}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th>{{localize config.stats.health}}</th>
        <td class='health'><input
            class='health-value'
            name='data.health.value'
            type='Number'
            value='{{data.health.value}}'
            data-dtype='Number'
          />/<input
            class='health-max'
            name='data.health.max'
            type='Number'
            value='{{data.health.max}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th>{{localize config.stats.magic}}</th>
        <td><input
            class='input'
            name='data.magic'
            type='Number'
            value='{{data.magic}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th>{{localize config.stats.resolve}}</th>
        <td><input
            class='input'
            name='data.resolve'
            type='Number'
            value='{{data.resolve}}'
            data-dtype='Number'
          /></td>
      </tr>
    </table>
  </div>
</section>