<section>
  <div class='stats'>
    <table>
      <tr>
        <th>{{localize config.stats.physical}}</th>
        <th><input
            name='data.physical.value'
            type='Number'
            value='{{data.physical.value}}'
            data-dtype='Number'
          /></th>
      </tr>
      <tr>
        <th>{{localize config.stats.defense}}</th>
        <th><input
            name='data.defense.value'
            type='Number'
            value='{{data.defense.value}}'
            data-dtype='Number'
          /></th>
      </tr>
      <tr>
        <th>{{localize config.stats.health}}</th>
        <th><input
            name='data.health.value'
            type='Number'
            value='{{data.health.value}}'
            data-dtype='Number'
          /></th>
      </tr>
      <tr>
        <th>{{localize config.stats.magic}}</th>
        <th><input
            name='data.magic.value'
            type='Number'
            value='{{data.magic.value}}'
            data-dtype='Number'
          /></th>
      </tr>
      <tr>
        <th>{{localize config.stats.resolve}}</th>
        <th><input
            name='data.resolve.value'
            type='Number'
            value='{{data.resolve.value}}'
            data-dtype='Number'
          /></th>
      </tr>
    </table>
  </div>
</section>