<section>
  <div class='stats'>
    <table>
      <tr>
        <th class='stat-button'>{{localize config.stats.physical}}</th>
        <td><input
            class='input roll-value'
            name='data.physical'
            title={{localize 'morpg.baseStats.physical'}}
            type='Number'
            value='{{data.physical}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th class='stat-button'>{{localize config.stats.defense}}</th>
        <td><input
            class='input roll-value'
            name='data.defense'
            title={{localize 'morpg.baseStats.defense'}}
            type='Number'
            value='{{data.defense}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th class='stat-button'>{{localize config.stats.health}}</th>
        <td class='health'><input
            class='health-value roll-value'
            name='data.health.value'
            title={{localize 'morpg.baseStats.healthCurrent'}}
            type='Number'
            value='{{data.health.value}}'
            data-dtype='Number'
          />/<input
            class='health-max roll-value'
            name='data.health.max'
            title={{localize 'morpg.baseStats.healthMax'}}
            type='Number'
            value='{{data.health.max}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th class='stat-button'>{{localize config.stats.magic}}</th>
        <td><input
            class='input roll-value'
            name='data.magic'
            title={{localize 'morpg.baseStats.magic'}}
            type='Number'
            value='{{data.magic}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr>
        <th class='stat-button'>{{localize config.stats.resolve}}</th>
        <td><input
            class='input roll-value'
            name='data.resolve'
            title={{localize 'morpg.baseStats.resolve'}}
            type='Number'
            value='{{data.resolve}}'
            data-dtype='Number'
          /></td>
      </tr>
    </table>
  </div>
</section>