<section class='rogue-stats'>
  {{#if leftColumn}}
    <table class='stats'>
      <tr>
        <td class='coin'><input
            class='input roll-value'
            name='system.coin'
            title='{{localize "morpg.baseStats.coin"}}'
            type='number'
            value='{{actor.system.coin}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th class='coin-label'>{{localize config.stats.coin}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.price'
            title='{{localize "morpg.baseStats.price"}}'
            type='number'
            value='{{actor.system.price}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='price-label'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.price}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.physical'
            title={{localize 'morpg.baseStats.physical'}}
            type='number'
            value='{{actor.system.physical}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.physical}}</th></tr>
      <tr>

        <td><input
            class='input roll-value'
            name='system.defense'
            title={{localize 'morpg.baseStats.defense'}}
            type='number'
            value='{{actor.system.defense}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.defense}}</th></tr>
      <tr>
        <td class='health'><input
            class='health-value roll-value'
            name='system.health.value'
            title='{{localize "morpg.baseStats.healthCurrent"}}'
            type='number'
            value='{{actor.system.health.value}}'
            data-dtype='Number'
          />/<input
            class='health-max roll-value'
            name='system.health.max'
            title='{{localize "morpg.baseStats.healthMax"}}'
            type='number'
            value='{{actor.system.health.max}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.health}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.magic'
            title='{{localize "morpg.baseStats.magic"}}'
            type='number'
            value='{{actor.system.magic}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.magic}}</th></tr>
    </table>
  {{/if}}
  {{#if rightColumn}}
    <table class='stats'>
      <tr>
        <td><input
            class='input roll-value'
            name='system.luck.value'
            title='{{localize "morpg.baseStats.luckCurrent"}}'
            type='number'
            value='{{actor.system.luck.value}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th class='stat-button'>{{localize
            config.stats.luckCurrent
          }}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.tinker'
            title='{{localize "morpg.baseStats.tinker"}}'
            type='number'
            value='{{actor.system.tinker}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.tinker}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.aware'
            title={{localize 'morpg.baseStats.aware'}}
            type='number'
            value='{{actor.system.aware}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.aware}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.escape'
            title={{localize 'morpg.baseStats.escape'}}
            type='number'
            value='{{actor.system.escape}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.escape}}</th></tr>
      <tr>
        <td class='luck'><input
            class='input roll-value'
            name='system.luck.max'
            title='{{localize "morpg.baseStats.luckMax"}}'
            type='number'
            value='{{actor.system.luck.max}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th class='luck-label'>{{localize config.stats.luckMax}}</th></tr>
      <tr>
        <td><input
            class='input roll-value'
            name='system.resolve'
            title='{{localize "morpg.baseStats.resolve"}}'
            type='number'
            value='{{actor.system.resolve}}'
            data-dtype='Number'
          /></td>
      </tr>
      <tr><th
          class='stat-button'
          title='{{localize "morpg.sheet.roll"}}'
        >{{localize config.stats.resolve}}</th></tr>
    </table>
  {{/if}}
</section>