<ul class='rogue-inventory-item item' data-id='{{data._id}}'>
  <li class='item-content'>
    {{#if data.data.cooldown}}
      <div class='cooldown-block'>
        {{!-- <input
          class='cooldown-value cooldown-input'
          name='data.cooldown.value'
          title='{{localize "morpg.sheet.cooldownCurrent"}}'
          type='number'
          value='{{data.data.cooldown.value}}'
          data-dtype='Number'
        /> --}}
        <label
          class='cooldown-value cooldown-input'
          name='data.cooldown.value'
          title='{{localize "morpg.sheet.cooldownCurrent"}}'
        >{{data.data.cooldown.value}}</label>
        /
        <label
          class='cooldown-max cooldown-input'
          name='data.cooldown.max'
          title='{{localize "morpg.sheet.cooldownStart"}}'
        >{{data.data.cooldown.max}}</label>
      </div>
    {{else}}
      <button
        class='range-button'
        type='button'
        title='{{localize "morpg.sheet.sendToChat"}}'
      >
        {{data.data.trigger}}:
      </button>
    {{/if}}
    <p class='name' id='{{data._id}}'>{{name}}</p>
    <div class='delete-edit-actions'>
      {{#ifEquals data.type 'Action'}}
        <a
          class='item-roll action'
          data-type='roll'
          title='{{localize "morpg.sheet.rollItem"}}'
        >
          <i class='fas fa-dice-six'></i>
        </a>
      {{/ifEquals}}
      <a
        class='item-edit action'
        data-type='edit'
        title='{{localize "morpg.sheet.editItem"}}'
      >
        <i class='fas fa-edit'></i>
      </a>
      <a
        class='item-delete action'
        title='{{localize "morpg.sheet.deleteItem"}}'
      >
        <i class='fas fa-trash'></i>
      </a>
    </div>
  </li>
  <li class='toggle-editor'>
    <div>{{{data.data.description}}}</div>
  </li>
</ul>