<form
  class='action-sheet {{cssClass}} item-sheet'
  data-id='{{item._id}}'
  autocomplete='off'
>
  <link rel='stylesheet' href='systems/morpg/styles/morpg.css' />
  <header class='sheet-header'>
    <img
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
      height='64'
      width='64'
    />
    <h1>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder={{localize 'morpg.placeholder'}}
      />
    </h1>
  </header>
  <div class='sheet-content'>
    <table class='details'>
      <th><h3 class='cooldown-label'>{{localize
            'morpg.items.actions.cooldown'
          }}:</h3></th>
      <th><h3>
          <input
            class='cooldown'
            name='system.cooldown.value'
            type='Number'
            value='{{item.system.cooldown.value}}'
            data-dtype='Number'
          />/<input
            class='cooldown'
            name='system.cooldown.max'
            type='Number'
            value='{{item.system.cooldown.max}}'
            data-dtype='Number'
          /></h3></th>
      {{!-- <th><h3 class='label'>{{localize
            'morpg.items.bullshit.isAttack'
          }}:</h3></th>
      <th><h3><input
            class='isAttack'
            name='system.isAttack'
            type='checkbox'
            {{checked item.system.isAttack}}
          /></h3></th>
      {{#if item.system.isAttack}}
        <th><h3><select>
              {{#select item.system.attackType}}
                {{#each config.items.attackTypes as |name type|}}
                  <option value='{{type}}'>{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select></h3></th>
      {{/if}} --}}
      <th><h3 class='label'>{{localize
            'morpg.items.actions.triggerRange'
          }}:</h3></th>
      <th><h3><input
            class='triggerRange'
            name='system.triggerRange.min'
            type='number'
            value='{{item.system.triggerRange.min}}'
            data-dtype='Number'
          />—<input
            class='triggerRange'
            name='system.triggerRange.max'
            type='number'
            value='{{item.system.triggerRange.max}}'
            data-dtype='Number'
          /></h3></th>
    </table>
    {{editor
      item.system.description
      target='system.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>