<form class='bullshit-sheet {{cssClass}}' autocomplete='off'>
  <link rel='stylesheet' href='systems/morpg/styles/morpg.css' />
  <header class='sheet-header'>
    <h1>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder={{localize 'morpg.placeholder'}}
      />
    </h1>
  </header>
  <div class='sheet-content'>
    <div class='type'>
      <h3>{{localize 'morpg.items.bullshit.type.label'}}</h3>
      <select name='data.type'>
        {{#select data.type}}
          {{#each config.items.bullshit.type as |name type|}}
            <option value='{{type}}'>{{localize name}}</option>
            {{!-- <option value='data.type'>{{localize
              'morpg.items.bullshit.quality'
            }}</option>
          <option value='data.type'>{{localize
              'morpg.items.bullshit.flaw'
            }}</option> --}}
          {{/each}}
        {{/select}}
      </select>
      <h3>{{localize 'morpg.items.bullshit.isAttack'}}</h3>
      <input name='data.isAttack' type='checkbox' {{checked data.isAttack}} />
    </div>
    {{editor
      content=data.description
      target='data.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>