<form class='item-sheet {{cssClass}}' autocomplete='off'>
  <link rel='stylesheet' href='systems/morpg/styles/morpg.css' />
  <header class='sheet-header'>
    <img
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
      height='64'
      width='64'
    />
    <h1>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder={{localize 'morpg.placeholder'}}
      />
    </h1>
  </header>
  <div class='sheet-content'>
    <table>
      <th class='quantity'>{{localize 'morpg.items.equipment.quantity'}}:</th>
      <th><input
          name='data.quantity'
          type='text'
          value='{{data.quantity}}'
          data-dtype='Number'
        /></th>
      <th class='cost'>{{localize 'morpg.items.equipment.cost'}}:</th>
      <th><input
          name='data.cost'
          type='text'
          value='{{data.cost}}'
          data-dtype='Number'
        /></th>
      <th class='slots'>{{localize 'morpg.items.equipment.slots'}}:</th>
      <th><input
          name='data.slots'
          type='text'
          value='{{data.slots}}'
          data-dtype='Number'
        /></th>
    </table>
    {{editor
      content=data.description
      target='data.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>