<form class="{{cssClass}}" autocomplete="off">
  <link rel="stylesheet" href="systems/morpg/styles/morpg.css">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder={{ localize "morpg.placeholder" }}/>
    </h1>
  </header>
  <div>
    <table>
      <th class="cost" width="30" valign="top">{{localize "morpg.items.cost"}}</th>
      <th width="30" valign="top"><input name="data.cost" type="Number" value="{{data.cost}}" data-dtype="Number"/></th>
      <th><textarea name="data.description" height="250">{{data.description}}</textarea></th>
    </table>

  </div>
</form>
