<form class='actor-sheet {{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <h1 class='charname'><input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='{{localize "Name"}}'
      /></h1>
  </header>
  <div class='top-half'>
    {{> "systems/morpg/templates/partials/rogue-torches-conditions.hbs"}}
  </div>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a
      class='item'
      data-tab='actions'
      title='{{localize "morpg.sheet.actionsTabTitle"}}'
    >{{localize 'morpg.sheet.actionsTab'}}</a>
    <a
      class='item'
      data-tab='equipment'
      title='{{localize "morpg.sheet.equipmentTabTitle"}}'
    >{{localize 'morpg.sheet.equipmentTab'}}</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Actions and Bullshit Tab }}
    <div class='tab' data-group='primary' data-tab='actions'>
      <div class='actions-body'>
        <div class='actions'>
          {{> "systems/morpg/templates/partials/rogue-actions.hbs"}}
        </div>
        <div class='bullshit'>
          {{> "systems/morpg/templates/partials/rogue-bullshit.hbs"}}
        </div>
      </div>
    </div>

    {{! iInventory Tab }}
    <div class='tab equipment' data-group='primary' data-tab='equipment'>
      Equipment
    </div>
  </section>
</form>