<form class='special-sheet {{cssClass}}' autocomplete='off'>
  <link rel='stylesheet' href='systems/morpg/styles/morpg.css' />
  <header class='sheet-header'>
    <img
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
      height='64'
      width='64'
    />
    <h1>
      <input
        name='name'
        type='text'
        value='{{item.name}}'
        placeholder={{localize 'morpg.placeholder'}}
      />
    </h1>
  </header>
  <div class='sheet-content'>
    <table class='details'>
      {{!-- <th><h3 class='label'>{{localize
            'morpg.items.bullshit.isAttack'
          }}:</h3></th>
      <th><h3><input
            class='isAttack'
            name='data.isAttack'
            type='checkbox'
            {{checked data.isAttack}}
          /></h3></th>
      {{#if data.isAttack}}
        <th><h3><select>
              <option value=''>-</option>
              <option value='data.physical'>Physical</option>
              <option value='data.magic'>Magic</option>
            </select></h3></th>
      {{/if}} --}}
    </table>
    {{editor
      content=data.description
      target='data.description'
      button=true
      owner=owner
      editable=editable
    }}
  </div>
</form>